<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Public</key>
	<string>kYVs9bqA0cviHvMKENap3aWZ2</string>
	<key>Private</key>
	<string>qb2XAp4Om5TkiTkiR6Cbovi14Hrr0mJ4plTgdbyXhAAWwbzAja</string>
</dict>
</plist>
